<html>
<head>
  <meta charset="utf8">
  <title>佛经</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
  <link rel="stylesheet/less" type="text/css" href="index.less"/>
  <script src="https://cdn.bootcss.com/less.js/3.10.3/less.min.js"></script>
  <script src="https://cdn.bootcss.com/vue/2.6.11/vue.js"></script>
  <script src="https://cdn.bootcss.com/axios/0.19.2/axios.min.js"></script>
</head>
<body>
<div id="main">
  <div class="left">
    <div v-for="category in tree">
      <div><span class="category">{{category.label}}</span>{{category.children.length}}部</div>
      <div v-for="book in category.children">
        <a @click="clickBook(book.url)" class="book" :class="{activeItem:book.url==activeUrl}" :href="'#'+book.url">{{book.label}}</a>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="content" v-html="renderedContent">
    </div>
    <div class="pager">
      <div class="button" @click="prevPage">🡄</div>
      <div class="button" @click="nextPage">🡆</div>
    </div>
  </div>
</div>
</body>
<script>
  new Vue({
    el: "#main",
    data() {
      return {
        content: "",
        tree: [],
        index: [],//url索引
        activeUrl: "",
      }
    },
    mounted() {
      window.haha = this;
      window.onpopstate = event => {
        console.log(event.state);
        if (event.state) {
          console.log("loading")
          this.loadFile(event.state);
        }
      }
      window.onkeydown = event => {
        if (event.key === "ArrowLeft") {
          this.prevPage();
        } else if (event.key === "ArrowRight") {
          this.nextPage();
        }
      }
      axios.get("./index.json").then(resp => {
        this.tree = resp.data;
        this.index = [];
        for (let category of this.tree) {
          for (let book of category.children) {
            this.index.push(book.url);
          }
        }
        if (location.hash) {
          this.clickBook(location.hash.slice(1));
        } else {
          let randIndex = Math.floor(this.index.length * Math.random())
          this.clickBook(this.index[randIndex]);
        }
      })
    },
    computed: {
      renderedContent() {
        let lines = this.content.split("\n")
        let titleIndex = -1;
        let endIndex = 0;
        for (let i = 0; i < lines.length; i++) {
          let line = lines[i];
          if (/^\S/.test(line) && titleIndex === -1) {
            //如果不以空格开头
            titleIndex = i;
          }
          if (/下一部：/.test(line) || /上一部：/.test(line)) {
            endIndex = i;
          }
        }
        for (let i = 0; i < lines.length; i++) {
          let line = lines[i];
          if (i < titleIndex) {
            lines[i] = `<p class="desc">${line}</p>`
          } else if (i >= endIndex) {
            lines[i] = `<p class="desc">${line}</p>`
          } else if (/^\S/.test(line)) {
            lines[i] = `<h1>${line}</h1>`
          } else {
            lines[i] = `<p>${line}</p>`
          }
        }
        return lines.join("")
      },
    },
    watch: {
      content() {
        document.title = this.getTitle(this.content);
      }
    },
    methods: {
      prevPage() {
        let ind = this.index.indexOf(this.activeUrl);
        if (ind > 0) {
          this.clickBook(this.index[ind - 1]);
        }
      },
      nextPage() {
        let ind = this.index.indexOf(this.activeUrl);
        if (ind < this.index.length - 1) {
          this.clickBook(this.index[ind + 1]);
        }
      },
      clickBook(filepath) {
        history.pushState(filepath, filepath, '#' + filepath)
        this.loadFile(filepath)
      },
      loadFile(filepath) {
        console.log(filepath)
        axios.get('./' + filepath).then(resp => {
          document.querySelector(".right").scrollTop = 0
          this.activeUrl = decodeURI(filepath);
          this.content = resp.data;
        })
      },
      getTitle(content) {
        let lines = content.split("\n")
        let titleIndex = -1;
        for (let i = 0; i < lines.length; i++) {
          let line = lines[i];
          if (/^\S/.test(line) && titleIndex === -1) {
            //如果不以空格开头
            titleIndex = i;
          }
        }
        return lines[titleIndex];
      },

    }
  })
</script>
</html>